@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-montserrate);

  --color-primary-700: #cc3d02;
  --color-primary-600: #ff5903;
  --color-primary-500: #ff710a;
  --color-primary-400: #ff9132;
  --color-primary-300: #ffba6d;
  --color-primary-200: #ffd7a5;
  --color-primary-100: #ffedd3;
  --color-primary-50: #fff7ec;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-open-sans);
}

a,
span,
p {
  font-family: var(--font-montserrate);
}

body {
  font-family: var(--font-open-sans);
}
